@tailwind base;
@tailwind components;
@tailwind utilities;

.parenthesis:before {
  content: "(";
}

.parenthesis:after {
  content: ")";
}

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.max-w-8xl {
  max-width: 96rem;
}